.root {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'Muli', sans-serif;
  height: 100vh;
}

.wrapped-root {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.linksSign {
  text-align: center;
  margin-bottom: 34px;
}

.signInForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signUpLink {
  text-decoration: none;
  font-family: "Muli",sans-serif;
  padding-top: 24px;
  padding-left: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 24px;
  color: #393939;
  opacity: 0.3;
}

.signUpLink:hover {
  color: #393939;
  opacity: 0.3;
}

.signinText {
  font-family: "Muli",sans-serif;
  text-decoration: none;
  color: #393939;
  font-size: 48px;
  margin-bottom: 33px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-size: 48px;
}

.signinText:hover {
  color: #393939;
}

.signinText:hover {
  color: #393939;
}

.btnGetStart {
  width: 150px;
  height: 40px;
  background-color: #51D2B3;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  border: none;
}

.btnGetStartDiv {
  padding-top: 26px;
}

.btnGetStart:focus {
  outline: none;
}

.signInput {
  margin-bottom: 14px;
  background-color: white;
  width: 300px;
  height: 40px;
  border-radius: 15px;
}

.forgotSignin {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-family: "Myli",sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #393939;
  padding-top: 5px;
}

.forgotSignin:hover {
  color: #393939;
}

.logo {
  position: absolute;
  top: 41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */