.form_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-family: 'Muli', sans-serif;
  height: 100vh;
}

.logo {
  position: absolute;
  top: 41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
}

.forgot_form_header {
  margin-bottom: 60px;
  font-size: 24px;
  line-height: normal;
  font-weight: 800;
  color: #393939;
  text-decoration: none;
  font-size: 48px;
  line-height: 48px;
}

.forgot_form_body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.forgot_form_text {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #393939;
  padding: 0 20%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 36px;
}

.btn_wrapper_forgot {
  margin-top: 40px;
}

.submit_btn:focus {
  outline: none;
}

.forgot-success {
  font-size: 14px;
  line-height: 18px;
  color: #393939;
  opacity: .4;
}
/*# sourceMappingURL=style.css.map */