.root2{

}
::-webkit-scrollbar {
    width: 4px;
}


::-webkit-scrollbar-track {
 
    background: #E4E4E4;
    border: 1px solid transparent;
    background-clip: content-box;   
}


::-webkit-scrollbar-thumb {
    background: #393939;
    border-radius: 2px;
    border: 5px solid transparent;
}