
.bg-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 60.5%;
  overflow: hidden;
  z-index: -999;
}

.bg-wrapper img {
  height: 105%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  max-width: 770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-logo {
  margin-bottom: 38px;
}

.main-logo svg {
  height: 112px;
  width: auto;
}

.slogan {
  font-size: 48px;
  line-height: 60px;
  font-family: Muli, sans-serif;
  font-weight: 700;
  color: #393939;
  text-align: center;
  margin-bottom: 32px;
}

.start-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonWrapper {
  margin: 10px 23px;
}

.buttonWrapper .default_btn {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */