

.bg-wrapper{
  position: absolute;
  top: 0; bottom: 0; right: 0;
  width: 60.5%;
  overflow: hidden;
  z-index: -999;
  img{
    height: 105%;
  }
}


.wrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-logo{
  margin-bottom: 38px;
  svg{
    height: 112px;
    width: auto;
  }
}

.slogan {
  font-size: 48px;
  line-height: 60px;
  font-family: Muli, sans-serif;
  font-weight: 700;
  color: #393939;
  text-align: center;
  margin-bottom: 32px;
}

.start-navigation{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.buttonWrapper {
  margin: 10px 23px;
  .default_btn{
    font-size: 18px;
  }
}

