$font_color: #393939;

.form_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Muli', sans-serif;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
}
.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.register_form_header{
    padding-bottom: 34px;
}
.register_form_header a{
    font-size: 24px;
    line-height: normal;
    font-weight: 800;
    color: $font_color;
    text-decoration: none;
    padding: 0 7px;
    opacity: .3;
}
.register_form_header a:hover {
    color: $font_color;
}
.register_form_header .active{
    font-size: 48px;
    line-height: normal;
    opacity: 1;
}
.register_form_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btn_wrapper{
    padding-top: 16px;
}