@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-SemiBold.otf);
  font-weight: 600;
}

@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Open sans";
  src: url(./fonts/OpenSans-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Open sans";
  src: url(./fonts/OpenSans-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Open sans";
  src: url(./fonts/OpenSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "Open sans";
  src: url(./fonts/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}/*# sourceMappingURL=fonts.css.map */