$btn_background: #51D2B3;
$btn_color: #F4F4F4;
$font_color: #393939;

.form_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Muli', sans-serif;
    height: 100vh;
}
.logo{
    position: absolute;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
}
.form_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.resetPassword_form_header{
    margin-bottom: 66px;
    font-size: 24px;
    line-height: normal;
    font-weight: 800;
    color: $font_color;
    text-decoration: none;
    font-size: 48px;
    line-height: 48px;
}
.resetPassword_form_body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.btn_wrapper_reset{
    margin-top: 38px;
}

.submit_btn:focus{
    outline: none;
}
